.flex-center {
  display: flex;
  justify-content: center;
  align-items: center; }

.flex-align-center {
  display: flex;
  align-items: center; }

.text-upper-bold {
  text-transform: uppercase;
  font-weight: bold; }

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center; }

.flex-align-center {
  display: flex;
  align-items: center; }

.text-upper-bold {
  text-transform: uppercase;
  font-weight: bold; }

/* Font */
@font-face {
  font-family: "Yu Gothic";
  src: url("../../template/fonts/yugothic.ttf"); }

html {
  font-size: 16px; }
  html body {
    font-family: "Yu Gothic";
    color: #14294F;
    background-color: #FFF; }
    html body img {
      width: 100%; }
