@import "../utility";

.page {
  .banner {
    height: 100vh;
    overflow: hidden;

    &-bg {
      background: url('../../../template/images/top.jpg') no-repeat center;
      background-size: cover;
      height: 100%;
      width: 103%;
      transition: opacity 2s linear,background 5s ease-out;
      background-position: 0;
      @extend .flex-align-center;

      .slogan {
        margin: 10% 0 0 5%;

        &-big, &-mini {
          font-weight: bold;
          color: $color-blue;
        }

        &-big {
          font-size: 3.75rem;
          text-transform: uppercase;
        }

        &-mini {
          font-size: 1.5rem;
          margin: 1rem 0 4rem;
        }

        &-descript {
          font-size: 1.125rem;
        }
      }
    }
  }

  .introduce {
    &-big-ttl, &-ttl {
      text-align: center;
    }

    &-big-ttl {
      font-size: 3rem;
      @extend .text-upper-bold;
      margin-top: 130px;
    }

    &-ttl {
      font-size: 1.25rem;
      font-weight: bold;
      margin-bottom: 50px;
    }

    &-content {
      @extend .flex-center;
      &-element {

        font-weight: bold;
        color: #FFF;
        font-size: 2rem;

        &.element-first,
        &.element-second {
          max-width: 30%;
          height: 550px;
          background-size: contain;
        }

        &.element-third {
          max-width: 20%;
          background-size: contain;
        }
      }

      .element-first {
        background: url("../../../template/images/b-care.jpg") no-repeat center;
      }

      .element-second {
        background: url("../../../template/images/b-orversea.jpg") no-repeat center;
      }

      .element-third {
        background: url("../../../template/images/b-travel.jpg") no-repeat center;
      }
    }
  }

  .news {
    margin: 4rem;

    .new-big-ttl, .new-ttl {
      font-weight: bold;
    }

    .new-big-ttl {
      font-size: 3rem;
      text-transform: uppercase;
    }

    .new-ttl {
      font-size: 1.25rem;
    }

    .new-element {
      @extend .flex-align-center;
      font-size: 1.125rem;
      padding: 20px 0;
      border-bottom: 1px solid #ADB7BE;

      &:first-child {
        padding-top: 0;
      }

      .new-datetime {
        font-size: 1.125rem;
      }

      .new-mark {
        background-color: #5FC1EA;
        color: #FFF;
        @extend .flex-center;
        margin: 0 15px;
        width: 170px;
        border-radius: 10px;
      }
    }
  }
}
